<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:component-scan base-package="com.chan.spring.tx"/>
    <!-- 加载公钥 -->
    <context:property-placeholder location="classpath:com/chan/spring/tx/conf/druid.properties"/>

    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
        <property name="filters" value="config"/>
        <property name="connectionProperties"
                  value="config.decrypt=true;config.decrypt.key=${public_key};config.file=file://F://db.properties"/>
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- 配置事务管理器 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- 启用事务管理器 -->
    <tx:annotation-driven transaction-manager="transactionManager"/>

    <!-- 配置事务属性 -->
    <!--
    <tx:advice id="cashierAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="checkout" propagation="REQUIRES_NEW" isolation="READ_COMMITTED" rollback-for="Exception.class"/>
        </tx:attributes>
    </tx:advice>

    <aop:config>
        <aop:pointcut id="cashierAdvicePointCut" expression="execution(* com.chan.spring.tx.service.Cashier.checkOut(..))"/>
        <aop:advisor advice-ref="cashierAdvice" pointcut-ref="cashierAdvicePointCut"/>
    </aop:config>
    -->
</beans>